SECRET_KEY= # your django secret key

DEBUG= # True or False

# PostgreSQL parameters

POSTGRES_DB= # DB name
POSTGRES_USER= # the name of the PostgreSQL user
POSTGRES_PASSWORD= # the password of the PostgreSQL user.
POSTGRES_HOST= # the address of the database server.
POSTGRES_PORT= # the port on which PostgreSQL is running,

# CORS settings

CORS_ALLOWED_ORIGINS= Замените на адрес вашего фронтенд-сервера
CSRF_TRUSTED_ORIGINS= Замените на адрес вашего фронтенд-сервера и добавьте адрес бэкенд-сервера
